<?php include "header.php"; ?>
 <?php include "sidebar.php"; ?>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Pricing Plans</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Pricing</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body p-4">
             <img src="assets/img/visa.png" class="w-25" alt="Card">
              <h5 class="card-title">**** **** **** 1060</h5>
              <div class="d-flex justify-content-between">
                  <div><strong>Expiry Date:</strong><span>10/16</span></div>
                  <div><strong>Name:</strong><span>R Kumar</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
          <div class="card">
            <div class="card-body p-4">
             <img src="assets/img/visa.png" class="w-25" alt="Card">
              <h5 class="card-title">**** **** **** 1060</h5>
              <div class="d-flex justify-content-between">
                  <div><strong>Expiry Date:</strong><span>10/16</span></div>
                  <div><strong>Name:</strong><span>R Kumar</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
          <div class="card">
            <div class="card-body p-4">
             <img src="assets/img/visa.png" class="w-25" alt="Card">
              <h5 class="card-title">**** **** **** 1060</h5>
              <div class="d-flex justify-content-between">
                  <div><strong>Expiry Date:</strong><span>10/16</span></div>
                  <div><strong>Name:</strong><span>R Kumar</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Payment Methods</h5>

              <!-- Default Accordion -->
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        PayPal
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is paypal payment body.</strong>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Credit Card
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                       <div class="row">
                        <div class="col-5">
                            <p>Summary</p>
                             <div class="d-flex">
                                 <strong>Package:</strong>
                                <div class="form-check ms-2">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked="">
                                <label class="form-check-label" for="gridRadios1">
                                Advanced
                                </label>
                                </div>
                                <div class="form-check ms-2">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                <label class="form-check-label" for="gridRadios2">
                                Complete
                                </label>
                               </div>
                            </div>
                            <div><strong class="">Price:</strong> $<span>29.99</span></div>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                           </div>
                        <div class="col-7">
                            <div class="row">

                            <div class="col-md-12 mb-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingcardno" placeholder="Your Name">
                                <label for="floatingcardno">CARD NUMBER</label>
                            </div>
                            </div>
                            <div class="col-md-6">
                            <div class="form-floating">
                                <input type="date" class="form-control" id="floatingEmail" placeholder="MM / YY">
                                <label for="floatingEmail">MM / YY</label>
                            </div>
                            </div>
                            <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="cvv" placeholder="CVV">
                                <label for="cvv">CVV</label>
                            </div>
                            </div>
                            <div class="col-md-12 mt-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingEmail" placeholder="NAME ON THE CARD">
                                <label for="floatingEmail">NAME ON THE CARD</label>
                            </div>
                            </div>
                               <div class="col-12 mt-3">
                                    <button class="btn btn-primary w-100">Make Payment</button>
                                </div>
                            </div>
                        
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div><!-- End Default Accordion Example -->

            </div>
          </div>

        </div>
    </section>

  </main><!-- End #main -->

<?php include "footer.php"; ?>