<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

<ul class="sidebar-nav" id="sidebar-nav">

  <li class="nav-item">
    <a class="nav-link " href="index.php">
      <i class="bi bi-grid"></i>
      <span>Dashboard</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="users.php">
      <i class="bi bi-person"></i>
      <span>Users</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="faq.php">
      <i class="bi bi-question-circle"></i>
      <span>F.A.Q</span>
    </a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link collapsed" href="pricing.php">
      <i class="bi bi-currency-dollar"></i>
      <span>Pricing</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="contact.php">
      <i class="bi bi-envelope"></i>
      <span>Contact</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="settings.php">
      <i class="bi bi-gear"></i>
      <span>Settings</span>
    </a>
  </li>

</ul>

</aside><!-- End Sidebar-->