<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- SEO Meta Tags -->
		<meta name="description" content="ForeQast">
		<meta name="author" content="Inovatik">

		<!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

		<!-- Website Title -->
		<title>ForeQast</title>
		
		<!-- Styles -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
		<link href="static/landing/css/bootstrap.css" rel="stylesheet">
		<link href="static/landing/css/fontawesome-all.css" rel="stylesheet">
		<link href="static/landing/css/swiper.css" rel="stylesheet">
	<link href="static/landing/css/magnific-popup.css" rel="stylesheet">
	<link href="static/landing/css/styles.css" rel="stylesheet">
	
	<!-- Favicon  -->
		<link rel="icon" href="static/landing/images/favicon.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">
		
		<!-- include header -->
		{% include 'landing/header.html' %}

		<header id="header" class="header hero_img">
				<div class="header-content">
						<div class="container">
								<div class="row">
										<div class="col-lg-6 text-center offset-6">
												<span class="text-container ">
														<h1>Built to simulate and forecast power markets</h1>
														<span class="p-large">Leverage the power of quantum computing and AI</span>
												</span> 
										</div> 
								</div> <!-- end of row -->
						</div> <!-- end of container -->
				</div> <!-- end of header-content -->
				<svg class="header-frame" style="transform: rotate(180deg);	
				background: transparent;" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 310"><defs><style>.cls-1{fill:#ffff;}</style></defs><title>header-frame</title><path class="cls-1" d="M0,283.054c22.75,12.98,53.1,15.2,70.635,14.808,92.115-2.077,238.3-79.9,354.895-79.938,59.97-.019,106.17,18.059,141.58,34,47.778,21.511,47.778,21.511,90,38.938,28.418,11.731,85.344,26.169,152.992,17.971,68.127-8.255,115.933-34.963,166.492-67.393,37.467-24.032,148.6-112.008,171.753-127.963,27.951-19.26,87.771-81.155,180.71-89.341,72.016-6.343,105.479,12.388,157.434,35.467,69.73,30.976,168.93,92.28,256.514,89.405,100.992-3.315,140.276-41.7,177-64.9V0.24H0V283.054Z"/></svg>
				</header> 
	 
				</div> 
		</div> 
		<div class="cards-1">
				<div class="container">
						<div class="row">
								<div class="col-lg-12">
										<h2 class="h2-heading">Our forecasts are 25% more accurate than existing predictions from ISOs</h2>
										<h5> Partner with ForeQast to improve risk management and increase your 
												bottom line every quarter.</h5>
								</div> <!-- end of col -->
						</div> <!-- end of row -->
				</div> 
		</div>
		<div id="features">
				<div class="container">
						<h2 class="h2-heading">Price, Load and Renewable Analytics Delivered Twice Daily</h2>
						<div class="row" style="margin-top: 20px;">
								<div class="col-lg-12">
										<!-- chart js graph here -->
										<!-- graph row start -->
											<div class="border rounded shadow">
												<form>
													<div class="row align-items-center" style="margin-top: 10px !important">
														<div class="form-group col-md-1"></div>
														<div class="form-group col-md-2">
																<label for="load_data_balancing_authority" class="font-weight-bold">Select Bal. Auth.</label>
																<select class="form-control" id="load_data_balancing_authority">
																	<option value="PJM">PJM</option>
																	<option value="CISO">CISO</option>
																	<option value="ERCO">ERCO</option>
																</select>
														 </div>

														 <div class="form-group col-md-3">
																<label for="load_data_from_date" class="font-weight-bold">From Date</label>
																<input type="date" class="form-control" id="load_data_from_date" name="load_data_from_date" value="2021-12-22" />
														 </div>

															<div class="form-group col-md-3">
																<label for="load_data_to_date" class="font-weight-bold">To Date</label>
																<input type="date" class="form-control" id="load_data_to_date" name="load_data_to_date" value="2022-01-10" />
															</div>

															<div class="form-group col-md-2">
																<label for="load_data_balancing_authority" class="font-weight-bold">Chart Type</label>
																<select class="form-control" id="load_data_chart_type">
																	<option value="line">Line</option>
																	<option value="bar">Bar</option>
																	<option value="scatter">Scatter</option>
																	<option value="pie">Pie</option>
																	<option value="doughnut">Doughnut</option>
																</select>
														 </div>

														</div>
												</form>

												<div class="row">
														<div class="col-md-12" style="height: 400px !important;" id="graph-container">
																<canvas id="avg_load_chart"></canvas>
														</div>
												</div>
											</div>
											<!-- graph row end -->
								</div> <!-- end of col -->
						</div> <!-- end of row -->
				</div> <!-- end of container -->
		</div> <!-- end of tabs -->
		
		<div id="details" class="basic-1">
				<div class="above-heading">PRODUCTS</div>
				<br><br>
				<div class="container">
						<div class="row">
								<div class="col-sm-4">
										<div class="card mt-5">
												<i>
												<img  src="static/landing/images/group.png" alt="Card image cap">
												</i>
												<div class="card-body">
														<a href="{{ url_for('foreqast_load') }}">
													<h3 class="card-title text-center font-weight-light">Load Forecasting</h3>
												 
												 <p class=" text-center blue">Accurate LF with ForeQast</p>
													</a>
												</div>
										</div>
								</div>
								<div class="col-sm-4">
										<div class="card mt-5"  >
												<i>
												<img src="static/landing/images/Group-1.png" alt="Card image cap">
												</i>
												<div class="card-body">
														 <a href="{{ url_for('foreqast_power_market') }}">
													<h3 class="card-title text-center font-weight-light">Power Markets</h3>
												 <p class="text-center blue">Accurate PM with ForeQast</p>
														 </a>
												</div>
										</div>
								</div>
								<div class="col-sm-4">
										<div class="card mt-5">
												<i>
												<img src="static/landing/images/Group-2.png" alt="Card image cap">
												</i>
												<div class="card-body">
														<a href="{{ url_for('foreqast_price') }}">
													<h3 class="card-title text-center font-weight-light">Price Forecasting</h3>
													<p class="text-center blue">Accurate PF with ForeQast</p>
													</a>
												</div>
										</div>
								</div>
						</div>
				</div> <!-- end of container -->
		</div> <!-- end of basic-1 -->
		
		<div id="video" class="basic-2 ourTeam">
			<div class="above-heading mt-4">OUR TEAM</div>
				<div class="container">
					 <div class="col-sm-12 mt-lg-5">
							<div class="row ">
								<div class="col-sm-3 mt-5">
										<div class="card mt-5 ">
											 <div class="img-wrapper">
													 <img  class="img"src="static/landing/images/Ellipse 8.png" alt="Card image cap">
												</div>
											<div class="card-body">
													<p class="card-title">Aida Ahmadzadegan</p>
													<strong>CTO</strong>
													<p class="text-center blue">Postdoctoral Fellow
														Perimeter Institute for 
														Theoretical Physics | PIQuIL</p>
											 </div>
										</div>
									</div>
								<div class="col-sm-3 mt-5">
										<div class="card mt-5">
												<div class="img-wrapper">
												<img  class="img"src="static/landing/images/Ellipse 9.png" alt="Card image cap">
													</div>
												<div class="card-body">
													<p class="card-title text-md">Chris Masternak</p>
													<strong>CEO</strong>
													<p class="text-center blue">Product Manager | 
														Entrepreneur | Investor</p>
												</div>
										</div>
								</div>
								<div class="col-sm-3 mt-5">
										<div class="card mt-5">
											<div class="img-wrapper">
												<img  class="img"src="static/landing/images/Ellipse 10.png" alt="Card image cap">
											 </div>	
											 <div class="card-body">
													<p class="card-title text-md">Matthew Bishara</p>
													<p class="text-center blue">Advanced Computing
														Advisor</p>
											 </div>
										</div>
								</div>
								<div class="col-sm-3 mt-5">
										<div class="card mt-5">
											<div class="img-wrapper">
												<img  class="img"src="static/landing/images/Ellipse 11.png" alt="Card image cap">
											</div>	
											<div class="card-body">
														<a href="#">
													<p class="card-title text-md">Mark Rowland</p>
													<strong>Venture Business Analyst</strong>
													<p class="text-center blue">Global Venture Analyst | 
														MBA at Rotman School of Business</p>
													</a>
												</div>
										</div>
								</div>
								 

									</div>        
								 <!-- end of col -->
						</div> <!-- end of row -->
				</div> <!-- end of container -->
		</div> <!-- end of basic-2 -->
		<!-- end of video -->



		<!-- Pricing -->
		<div id="pricing" class="cards">
				<div class="container">
						<div class="row">
								<div class="col-lg-12">
									 
								</div> <!-- end of col -->
						</div> <!-- end of row -->
					 
		<!-- Testimonials -->
		<div class="slider-2">
				<div class="container">
						<div class="row">
								<div class="col-lg-12">      
										
										<!-- Text Slider -->
										<div class="slider-container">
												<div class="swiper-container text-slider">
														<div class="swiper-wrapper">
																
																<!-- Slide -->
																<div class="swiper-slide">
																		<div class="image-wrapper">
																				<img class="img-fluid" src="static/landing/images/testimonial-1.jpg" alt="alternative">
																		</div> <!-- end of image-wrapper -->
																		<div class="text-wrapper">
																				<div class="testimonial-text">I started to use Tivo with the free trial about a year ago and never stopped since then. It does all the repeating marketing tasks and allows me to focus on core development activities like new product research and design. I love it and recommend it to everyone.</div>
																				<div class="testimonial-author">Jude Thorn - Online Marketer</div>
																		</div> <!-- end of text-wrapper -->
																</div> <!-- end of swiper-slide -->
																<!-- end of slide -->

																<!-- Slide -->
																<div class="swiper-slide">
																		<div class="image-wrapper">
																				<img class="img-fluid" src="static/landing/images/testimonial-2.jpg" alt="alternative">
																		</div> <!-- end of image-wrapper -->
																		<div class="text-wrapper">
																				<div class="testimonial-text">Awesome features for the money. I never thought such a low ammount of money would bring me so many leads per month. Before Tivo I used the services of an agency which cost 10x more and delivered far less. Highly recommended to marketers focused on results.</div>
																				<div class="testimonial-author">Roy Smith - Developer</div>
																		</div> <!-- end of text-wrapper -->
																</div> <!-- end of swiper-slide -->
																<!-- end of slide -->

																<!-- Slide -->
																<div class="swiper-slide">
																		<div class="image-wrapper">
																				<img class="img-fluid" src="static/landing/images/testimonial-3.jpg" alt="alternative">
																		</div> <!-- end of image-wrapper -->
																		<div class="text-wrapper">
																				<div class="testimonial-text">Tivo is the best marketing automation app for small and medium sized business. It understands the mindset of young entrepreneurs and provides the necessary data for wise marketing decisions. Just give it a try and you will definitely not regret spending your time.</div>
																				<div class="testimonial-author">Marsha Singer - Online Marketer</div>
																		</div> <!-- end of text-wrapper -->
																</div> <!-- end of swiper-slide -->
																<!-- end of slide -->

																<!-- Slide -->
																<div class="swiper-slide">
																		<div class="image-wrapper">
																				<img class="img-fluid" src="static/landing/images/testimonial-4.jpg" alt="alternative">
																		</div> <!-- end of image-wrapper -->
																		<div class="text-wrapper">
																				<div class="testimonial-text">Tivo is one of the greatest marketing automation apps out there. I especially love the Reporting Tools module because it gives me such a great amount of information based on little amounts of input gathered in just few weeks of light weight usage. Recommended!</div>
																				<div class="testimonial-author">Ronda Louis - Online Marketer</div>
																		</div> <!-- end of text-wrapper -->
																</div> <!-- end of swiper-slide -->
																<!-- end of slide -->

														</div> <!-- end of swiper-wrapper -->
														
														<!-- Add Arrows -->
														<div class="swiper-button-next"></div>
														<div class="swiper-button-prev"></div>
														<!-- end of add arrows -->

												</div> <!-- end of swiper-container -->
										</div> <!-- end of slider-container -->
										<!-- end of text slider -->

								</div> <!-- end of col -->
						</div> <!-- end of row -->
				</div> <!-- end of container -->
		</div> <!-- end of slider-2 -->
		<!-- end of testimonials -->


		<!-- Newsletter -->
		<div class="form">
				<div class="container">
						<div class="row">
								<div class="col-lg-12">
										<div class="text-container">
												<h2>Stay Updated With The Latest Weather Report With ForeQast</h2>

												<!-- Newsletter Form -->
												<form id="newsletterForm" data-toggle="validator" data-focus="false">
														<div class="form-group">
																<input type="email" class="form-control-input" id="nemail" required>
																<label class="label-control" for="nemail">Email</label>
																<div class="help-block with-errors"></div>
														</div>
														<div class="form-group checkbox">
																<input type="checkbox" id="nterms" value="Agreed-to-Terms" required>I've read and agree to Tivo's written <a href="{{ url_for('foreqast_privacy_policy') }}">Privacy Policy</a> and <a href="{{ url_for('foreqast_terms_and_conditions') }}">Terms Conditions</a> 
																<div class="help-block with-errors"></div>
														</div>
														<div class="form-group">
																<button type="submit" class="form-control-submit-button">SUBSCRIBE</button>
														</div>
														<div class="form-message">
																<div id="nmsgSubmit" class="h3 text-center hidden"></div>
														</div>
												</form>
												<!-- end of newsletter form -->

										</div> <!-- end of text-container -->
								</div> <!-- end of col -->
						</div> <!-- end of row -->
						<div class="row">
								<div class="col-lg-12">
										<div class="icon-container">
												<span class="fa-stack">
														<a href="#your-link">
																<i class="fas fa-circle fa-stack-2x"></i>
																<i class="fab fa-facebook-f fa-stack-1x"></i>
														</a>
												</span>
												<span class="fa-stack">
														<a href="#your-link">
																<i class="fas fa-circle fa-stack-2x"></i>
																<i class="fab fa-twitter fa-stack-1x"></i>
														</a>
												</span>
												<span class="fa-stack">
														<a href="#your-link">
																<i class="fas fa-circle fa-stack-2x"></i>
																<i class="fab fa-pinterest-p fa-stack-1x"></i>
														</a>
												</span>
												<span class="fa-stack">
														<a href="#your-link">
																<i class="fas fa-circle fa-stack-2x"></i>
																<i class="fab fa-instagram fa-stack-1x"></i>
														</a>
												</span>
												<span class="fa-stack">
														<a href="#your-link">
																<i class="fas fa-circle fa-stack-2x"></i>
																<i class="fab fa-linkedin-in fa-stack-1x"></i>
														</a>
												</span>
										</div> <!-- end of col -->
								</div> <!-- end of col -->
						</div> <!-- end of row -->
				</div> <!-- end of container -->
		</div> <!-- end of form -->
		<!-- end of newsletter -->

</div>
		<!-- Footer -->
	 
		<svg class="footer-frame" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 79"><defs><style>.cls-2{fill:#00A6EB;}</style></defs><title>footer-frame</title><path class="cls-2" d="M0,72.427C143,12.138,255.5,4.577,328.644,7.943c147.721,6.8,183.881,60.242,320.83,53.737,143-6.793,167.826-68.128,293-60.9,109.095,6.3,115.68,54.364,225.251,57.319,113.58,3.064,138.8-47.711,251.189-41.8,104.012,5.474,109.713,50.4,197.369,46.572,89.549-3.91,124.375-52.563,227.622-50.155A338.646,338.646,0,0,1,1920,23.467V79.75H0V72.427Z" transform="translate(0 -0.188)"/></svg>
		<div class="footer">
				<div class="container">
						<div class="row">
								<div class="col-md-4">
										<div class="footer-col first">
												<h4>About ForeQast</h4>
												<p class="p-small">We're passionate about designing and developing one of the best marketing apps in the market</p>
										</div>
								</div> <!-- end of col -->
								<div class="col-md-4">
										<div class="footer-col middle">
												<h4>Important Links</h4>
												<ul class="list-unstyled li-space-lg p-small">
														<li class="media">
																<i class="fas fa-square"></i>
																<div class="media-body">Our business partners <a class="white" href="#your-link">startupguide.com</a></div>
														</li>
														<li class="media">
																<i class="fas fa-square"></i>
																<div class="media-body">Read our <a class="white" href="{{ url_for('foreqast_terms_and_conditions') }}">Terms & Conditions</a>, <a class="white" href="{{ url_for('foreqast_privacy_policy') }}">Privacy Policy</a></div>
														</li>
												</ul>
										</div>
								</div> <!-- end of col -->
								<div class="col-md-4">
										<div class="footer-col last">
												<h4>Contact</h4>
												<ul class="list-unstyled li-space-lg p-small">
														<li class="media">
																<i class="fas fa-map-marker-alt"></i>
																<div class="media-body">22 Innovative, San Francisco, CA 94043, US</div>
														</li>
														<li class="media">
																<i class="fas fa-envelope"></i>
																<div class="media-body"><a class="white" href="mailto:contact@tivo.com">contact@tivo.com</a> <i class="fas fa-globe"></i><a class="white" href="#your-link">www.foreqast.ai</a></div>
														</li>
												</ul>
										</div> 
								</div> <!-- end of col -->
						</div> <!-- end of row -->
				</div> <!-- end of container -->
		</div> <!-- end of footer -->  
		<!-- end of footer -->


		<!-- Copyright -->
		<div class="copyright">
				<div class="container">
						<div class="row">
								<div class="col-lg-12">
										<p class="p-small">Copyright © 2021 ForeQast Technologies Ltd.
										</p>
								</div> <!-- end of col -->
						</div> <!-- enf of row -->
				</div> <!-- end of container -->
		 <!-- end of copyright --> 
		<!-- end of copyright -->
		
			
		<!-- Scripts -->
		<script src="static/landing/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
		<script src="static/landing/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
		<script src="static/landing/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
		<script src="static/landing/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
		<script src="static/landing/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
		<script src="static/landing/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
		<script src="static/landing/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
		<script src="static/landing/js/scripts.js"></script> <!-- Custom scripts -->

		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.js"></script>
	 
	 <!-- chart js graphs js here -->
	 <script type="text/javascript">
		$(document).ready(function(e) {

			// get the initial request avg load data from jinja2 to js
			var avg_load_data_obj = JSON.parse('{{ bar_graph_data | tojson }}');

			// call avg load chart generator function
			avg_load_chart_draw(avg_load_data_obj);

			// function for load avg load chart
			function avg_load_chart_draw(obj){
					// Remove graph and reload. because old graph is showing
					$('#avg_load_chart').remove(); // this is <canvas> element
					$('#graph-container').append('<canvas id="avg_load_chart"><canvas>');

					var canvas = document.getElementById("avg_load_chart");
					var ctx = canvas.getContext('2d');

					let chart_type = $('#load_data_chart_type').find(":selected").val();

					var initial_avg_load_chart_data = obj;
					var avg_load_chart_lables = [];
					var avg_load_chart_data = [];
					var ba_name = "";
					// added new variable for scatter chart
					var scatter_data = [];

					if(initial_avg_load_chart_data['status']){

						// convert object into required data format
						for (const [key, value] of Object.entries(initial_avg_load_chart_data.data)) {
							avg_load_chart_lables.push(initial_avg_load_chart_data.data[key]['running_date']);
							avg_load_chart_data.push(initial_avg_load_chart_data.data[key]['load_data']);
							ba_name = initial_avg_load_chart_data.data[key]['ba_name'];
							// converted data in  x and y axis for ploting scatter data
							scatter_data.push({'x' : new Date(initial_avg_load_chart_data.data[key]['running_date']), 'y' : initial_avg_load_chart_data.data[key]['load_data']});
						}
						avg_load_chart_data_final = chart_type == "scatter" ? scatter_data : avg_load_chart_data;
						// create chart data
						var chart_data = {
									labels: avg_load_chart_lables,
									datasets: [{
											label: ba_name + ' Load',
											fill: false,
											lineTension: 0.3,
											backgroundColor: '#a2d4f6',
											borderColor: '#1277ba',
											borderWidth: 2,
											data: avg_load_chart_data_final,
										}

									]
								};

						// create chart options
						var chart_options = {
							maintainAspectRatio: false,
							scales: {
												yAxes: [{
														ticks: {
																beginAtZero:false
														},
														scaleLabel: {
																 display: true,
																 labelString: 'Load (MW)',
																 fontSize: 18,
																 fontStyle: 'bold',
															},
												}],
												xAxes: [{
														type: 'time',
														time: {
															displayFormats: {
																'millisecond': 'MMM DD',
																'second': 'YYYY-MMM-DD hh:ss A',
																'minute': 'MMM DD',
																'hour': 'MMM DD',
																'day': 'YYYY-MM-DD',
																'week': 'MMM DD',
																'month': 'MMM DD',
																'quarter': 'MMM DD',
																'year': 'MMM DD',
															},
															round: 'day',
															unit: 'day',
														},
														ticks: {
																beginAtZero:false
														},
														scaleLabel: {
																 display: true,
																 labelString: 'Timestamp',
																 fontSize: 18,
																 fontStyle: 'bold',
															},
												}]
											},
						};

						// generate chart
						var line_chart = new Chart(ctx, {
							type: chart_type,
							data: chart_data,
							options: chart_options
						});

					}else{
						alert("For this filter load data not found ...");
					}
			}

			// on change of graph filter options
			$("#load_data_balancing_authority, #load_data_from_date, #load_data_to_date, #load_data_chart_type").change(function(e) {
				// get the required details
				let ba_name = $('#load_data_balancing_authority').find(":selected").val();
				let from_date = $("#load_data_from_date").val();
				let to_date = $("#load_data_to_date").val();

				// convert this data into the object for passing to the server
				let request_obj = [{"ba_name" : ba_name, "from_date" : from_date, "to_date" : to_date}];

				// call to the ajax
				$.ajax({
							type: "POST",
							url: "get_ba_wise_avg_load_data_for_date_range",
							data: JSON.stringify(request_obj),
							contentType: "application/json; charset=utf-8",
							dataType: "json",
							success: function(response) {
							 if(response['status']){
									// call to the common method
									avg_load_chart_draw(response);
							 }else{
								alert(response['message']);
							 }
							}
					});
			});
		});
	</script>

</body>
</html>