<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- SEO Meta Tags -->
		<meta name="description" content="Tivo is a HTML landing page template built with Bootstrap to help you crate engaging presentations for SaaS apps and convert visitors into users.">
		<meta name="author" content="Inovatik">

		<!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

		<!-- Website Title -->
		<title>Article Details - Tivo - SaaS App HTML Landing Page Template</title>
		
		<!-- Styles -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
		<link href="static/landing/css/bootstrap.css" rel="stylesheet">
		<link href="static/landing/css/fontawesome-all.css" rel="stylesheet">
		<link href="static/landing/css/swiper.css" rel="stylesheet">
	<link href="static/landing/css/magnific-popup.css" rel="stylesheet">
		<link href="static/landing/css/styles.css" rel="stylesheet">
	
	<!-- Favicon  -->
	<link rel="icon" href="static/landing/images/favicon.png">

	<!-- chart js cdn -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
	<!-- ajax js cdn -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body data-spy="scroll" data-target=".fixed-top">
		
		<!-- Preloader -->
	<div class="spinner-wrapper">
				<div class="spinner">
						<div class="bounce1"></div>
						<div class="bounce2"></div>
						<div class="bounce3"></div>
				</div>
		</div>
		<!-- end of preloader -->
		

		<!-- Navigation -->
				<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
						<div class="container">

								<!-- Text Logo - Use this if you don't have a graphic logo -->
								<!-- <a class="navbar-brand logo-text page-scroll" href="{{ url_for('landing') }}">Tivo</a> -->

								<!-- Image Logo -->
								<a class="navbar-brand logo-image" href="{{ url_for('landing') }}"><img src="static/landing/images/logo.svg" alt="alternative"></a> 
								
								<!-- Mobile Menu Toggle Button -->
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
										<span class="navbar-toggler-awesome fas fa-bars"></span>
										<span class="navbar-toggler-awesome fas fa-times"></span>
								</button>
								<!-- end of mobile menu toggle button -->

								<div class="collapse navbar-collapse" id="navbarsExampleDefault">
										<ul class="navbar-nav ml-auto">
												<li class="nav-item">
														<a class="nav-link page-scroll" href="{{ url_for('landing', _anchor='header') }}">HOME <span class="sr-only">(current)</span></a>
												</li>
												<li class="nav-item">
														<a class="nav-link page-scroll" href="{{ url_for('landing', _anchor='features') }}">FEATURES</a>
												</li>
												<li class="nav-item">
														<a class="nav-link page-scroll" href="{{ url_for('landing', _anchor = 'details') }}">DETAILS</a>
												</li>
												<li class="nav-item">
														<a class="nav-link page-scroll" href="{{ url_for('landing', _anchor = 'video') }}">ABOUT</a>
												</li>
												<li class="nav-item">
														<a class="nav-link page-scroll" href="{{ url_for('landing', _anchor = 'pricing') }}">CONTACT</a>
												</li>
												<!-- Dropdown Menu -->
											
												<!-- end of dropdown menu -->
										</ul>
										<span class="nav-item">
												<a class="btn-outline-sm" href="{{ url_for('foreqast_login') }}">LOG IN</a>
										</span>
										<span class="nav-item">
												<a class="btn-outline-sm" href="{{ url_for('foreqast_sign_up') }}">SIGN IN</a>
										</span>
								</div>
						</div> 
				</nav>  

		<div class="jumbotron jumbotron-fluid ex-header" id="loadforcast" >
				<div class="container">
						<div class="col-lg-12">
					<h1 >LOAD FORECAST</h1>
					</div>
				</div>
		</div>

		<div class="container">
				<div class="row mb-4 pb-4">
						<div class="col-sm-4">
								<div class="card mt-5" style="min-height: 10rem;">
										<i>
										<img  src="static/landing/images/group.png" alt="Card image cap">
										</i>
										<div class="card-body">
											<h3 class="card-title text-center">Load Forecasting</h3>
										</div>
								</div>
						</div> 
						<div class="col-sm-8">
								<h3 class="">Forecast the Possibilities</h3>
								<p class="text-black-50 text-justify"><b>e-LoadForecast</b> is a 24/7 online load forecast service that delivers extremely accurate forecasts for client-specific electric or gas load data. Forecasts are generated for different horizons and timespans. The forecasting engine consists of an ensemble of several different intelligent system-based models that employ various state-of-the-art technologies. The utilized weather data is a blend of forecasts provided by four major weather vendors. This is an ideal tool for system operators, dispatchers, schedulers, Retail Electric Providers, load aggregators, energy transactions, system planners and Risk Analysts.</p>
						</div> <!-- end of col -->
				</div> <!-- end of row -->

				<!-- graph row start -->
				<div class="border rounded shadow p-3">
					<form>
						<div class="row align-items-center">
							<div class="form-group col-md-1">
							</div>
							<div class="form-group col-md-3">
									<label for="load_data_balancing_authority" class="font-weight-bold">Select Bal. Auth.</label>
									<select class="form-control" id="load_data_balancing_authority">
										<option value="PJM">PJM</option>
										<option value="CISO">CISO</option>
										<option value="ERCO">ERCO</option>
									</select>
							 </div>

							 <div class="form-group col-md-3">
									<label for="load_data_from_date" class="font-weight-bold">From Date</label>
									<input type="date" class="form-control" id="load_data_from_date" name="load_data_from_date" value="2021-12-22" />
							 </div>

								<div class="form-group col-md-3">
									<label for="load_data_to_date" class="font-weight-bold">To Date</label>
									<input type="date" class="form-control" id="load_data_to_date" name="load_data_to_date" value="2022-01-10" />
								</div>
							</div>
					</form>

					<div class="row">
							<div class="col-md-12" style="height: 400px !important;" id="graph-container">
									<canvas id="avg_load_chart"></canvas>
							</div>
					</div>
				</div>
				<br/>
				<!-- graph row end -->

				<div class="row mb-4 pb-5 border-bottom">
						<div class="col-sm-6 ">
								<h3 class="pl-4">Short Term Electric & Gas Load 
										Forecasting</h3>
								<ul class="text-black-50 mt-4">
										<li>Forecast horizon of up to 15 days out</li>
										<li>Hourly or sub-hourly resolutions</li>
										<li>Weather data is blend of forecasts from four major weather service providers</li>
										<li>24/7 hourly/sub-hourly update of forecasts using most recent actual/forecasted weather</li>
										<li>Web and Excel® Interfaces</li>
										<li>Customizable weather forecasts to generate “what-if” scenarios</li>
										<li>Quick adaptation to load profile and/or level changes caused by customer migrations</li>
										<li>Continuous monitoring of forecast accuracy and actual load/weather data</li>
										<li>Various tools for upload of actual loads in a variety of file formats</li>
								</ul>
						</div> <!-- end of col -->
						<div class="col-sm-6">
								<div class="card">
										<div style="height: 440px !important;" id="hourly-graph-container">
												<canvas id="hourly_load_chart" style="background-color : black;"></canvas>
										</div>
								</div>
						</div> 
				</div> <!-- end of row -->

				<div class="row mb-4 pb-5 border-bottom">
						<div class="col-sm-5">
								<div class="card">
										<img class="card-img-top" src="static/landing/images/image2.png" alt="Card image cap">
								</div>
						</div> 
						<div class="col-sm-7">
								<h3 class="pl-4">Access via Web & Interactive 
										Excel Interface</h3>
										<ul class="text-black-50">
												<li>Load & weather forecasts posted on secure web page in tabular and graphical forms</li>
												<li> Downloadable files in CSV, XML or other formats via the web page</li>
												<li> APIs for automated upload or download via FTP or web service</li>
												<li> Microsoft Excel® interface with variety of tools
														<ul>
																<li> Weather forecasts can be modified to generate corresponding load forecasts</li>
																<li>Forecasts can be compared to Like Days in history or other user-selected days</li>
																<li>Forecast reshaping tools</li>
																<li>Analysis tools for past performance & accuracy</li>
																<li>User developed macros can be embedded</li>
														</ul>
												</li>
										</ul>
						</div> <!-- end of col -->
				</div> <!-- end of row -->

				<div class="row mb-4 pb-5">
						<div class="col-sm-5 ">
								<h3 class="pl-4">Medium & Long Term Load Forecasting</h3>
								<ul class="text-black-50">
										<li>Forecast horizon of up to 5 years out</li>
										<li> Hourly or Daily resolutions</li>
										<li>Intelligent system based models designed for longer term forecasting</li>
										<li>User interactivity through a Microsoft Excel Interface</li>
										<li> Weather for forecast horizon simulated using up to 10 years of historical data</li>
										<li>Various selectable future weather scenarios such as Normal, Hot, Cold, etc.</li>
										<li>Can use actual weather from history instead of simulated weather forecast</li>
										<li>Tools for simulating unusual weather conditions</li>
										<li>Load growth/loss trends from historical data computed and accounted for</li>
										<li> Yearly, monthly and weekly computation of total energy and peak loads</li>

								</ul>
							 
						</div> <!-- end of col -->
						<div class="col-sm-7 custom_zoom">
								<div class="card">
										<img class="card-img-top" src="static/landing/images/image3.png" alt="Card image cap">
								</div>
						</div> 
				</div> <!-- end of row -->
				<div class="row mb-4 pb-5">
						<div class="col-sm-4">
								<div class="card mt-5" style="min-height: 10rem;">
										<i>
										<img  src="static/landing/images/group.png" alt="Card image cap">
										</i>
										<div class="card-body">
												<a href="{{ url_for('foreqast_load') }}">
											<h3 class="card-title text-center font-weight-light">Load Forecasting</h3>
											<p class="text-center blue">
												e-LoadForecast</p></a>
										</div>
								</div>
						</div>
						<div class="col-sm-4">
								<div class="card mt-5" style="min-height: 10rem;">
										<i>
										<img class="" src="static/landing/images/Group-2.png" alt="Card image cap">
										</i>
										<div class="card-body">
												<a href="{{ url_for('foreqast_power_market') }}">
											<h3 class="card-title text-center  font-weight-light">Power Markets</h3>
											<p class="text-center blue">e-ISOForecast® / e-PowerForecast®</p>
												</a>
										</div>
								</div>
						</div>
						<div class="col-sm-4">
								<div class="card mt-5" style="min-height: 10rem;">
										<i>
										<img  src="static/landing/images/Group-1.png" alt="Card image cap">
										</i>
										<div class="card-body">

												<a href="{{ url_for('foreqast_price') }}">
											<h3 class="card-title text-center font-weight-light">Price Forecasting</h3>
											<p class="text-center blue">e-PF™</p>
											</a>
										</div>
								</div>
						</div>
				</div>
		</div> <!-- end of text-container -->


		<div class="text-center">
				<div class="container">
						<div class="row">
								<div class="col-lg-12">
										<p class="p-small">Copyright © 2021 ForeQast Technologies Ltd., All Rights Reserved
										</p>
								</div> <!-- end of col -->
						</div> <!-- enf of row -->
				</div> <!-- end of container -->
		</div> <!-- end of copyright --> 
		<!-- end of copyright -->
		
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<script src="static/landing/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
		<script src="static/landing/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
		<script src="static/landing/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
		<script src="static/landing/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
		<script src="static/landing/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
		<script src="static/landing/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
		<script src="static/landing/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
		<script src="static/landing/js/scripts.js"></script> <!-- Custom scripts -->
	 
	 <!-- chart js graphs js here -->
	 <script type="text/javascript">
		$(document).ready(function(e) {

		// get the initial request avg load data from jinja2 to js
		var avg_load_data_obj = JSON.parse('{{ bar_graph_data | tojson }}');

		// call avg load chart generator function
		avg_load_chart_draw(avg_load_data_obj);

		// get the initial request hourly load data from jinja2 to js
		var hourly_load_data_obj = JSON.parse('{{ get_load_data_latest_records_response | tojson }}');

		// call avg load chart generator function
		hourly_load_chart_draw(hourly_load_data_obj);

		// function for load avg load chart
		function avg_load_chart_draw(obj){
				// Remove graph and reload. because old graph is showing
				$('#avg_load_chart').remove(); // this is <canvas> element
				$('#graph-container').append('<canvas id="avg_load_chart"><canvas>');

				var canvas = document.getElementById("avg_load_chart");
				var ctx = canvas.getContext('2d');

				var initial_avg_load_chart_data = obj;
				var avg_load_chart_lables = [];
				var avg_load_chart_data = [];
				var ba_name = "";

				if(initial_avg_load_chart_data['status']){

					// convert object into required data format
					for (const [key, value] of Object.entries(initial_avg_load_chart_data.data)) {
						avg_load_chart_lables.push(initial_avg_load_chart_data.data[key]['running_date']);
						avg_load_chart_data.push(initial_avg_load_chart_data.data[key]['load_data']);
						ba_name = initial_avg_load_chart_data.data[key]['ba_name'];
					}

					// create chart data
					var chart_data = {
								labels: avg_load_chart_lables,
								datasets: [{
										label: ba_name + ' Load',
										fill: false,
										lineTension: 0.3,
										backgroundColor: '#a2d4f6',
										borderColor: '#1277ba',
										borderWidth: 2,
										data: avg_load_chart_data,
									}

								]
							};

					// create chart options
					var chart_options = {
						maintainAspectRatio: false,
						scales: {
											yAxes: [{
													ticks: {
															beginAtZero:false
													},
													scaleLabel: {
															 display: true,
															 labelString: 'Load (MW)',
															 fontSize: 18,
															 fontStyle: 'bold',
														},
											}],
											xAxes: [{
													ticks: {
															beginAtZero:false
													},
													scaleLabel: {
															 display: true,
															 labelString: 'Timestamp',
															 fontSize: 18,
															 fontStyle: 'bold',
														},
											}]
										},
					};

					// generate chart
					var line_chart = new Chart(ctx, {
						type: 'line',
						data: chart_data,
						options: chart_options
					});

				}else{
					alert("For this filter load data not found ...");
				}
		}

		// function for load hourly load chart
		function hourly_load_chart_draw(obj){
				// Remove graph and reload. because old graph is showing
				$('#hourly_load_chart').remove(); // this is <canvas> element
				$('#hourly-graph-container').append('<canvas id="hourly_load_chart" style="background-color : black;"><canvas>');

				var hourly_canvas = document.getElementById("hourly_load_chart");
				var hourly_ctx = hourly_canvas.getContext('2d');

				var initial_hourly_load_chart_data = obj;
				var hourly_load_chart_lables = [];
				var hourly_load_chart_data = [];
				var ba_name = "";

				if(initial_hourly_load_chart_data['status']){

					// convert object into required data format
					for (const [key, value] of Object.entries(initial_hourly_load_chart_data.data)) {
						hourly_load_chart_lables.push(initial_hourly_load_chart_data.data[key]['running_date']);
						hourly_load_chart_data.push(initial_hourly_load_chart_data.data[key]['load_data']);
						ba_name = initial_hourly_load_chart_data.data[key]['ba_name'];
					}

					Chart.pluginService.register({
								beforeDraw: function (chart, easing) {
									if (chart.config.options.chartArea && chart.config.options.chartArea.backgroundColor) {
										var helpers = Chart.helpers;
										var ctx = chart.chart.ctx;
										var chartArea = chart.chartArea;

										ctx.save();
										ctx.fillStyle = chart.config.options.chartArea.backgroundColor;
										ctx.fillRect(chartArea.left, chartArea.top, chartArea.right - chartArea.left, chartArea.bottom - chartArea.top);
										ctx.restore();
									}
								}
							});

					// create chart data
					var chart_data = {
								labels: hourly_load_chart_lables,
								datasets: [{
										label: ba_name + ' Load',
										fill: false,
										backgroundColor: '#3333ff',
										borderColor: 'white',
										borderWidth: 2,
										data: hourly_load_chart_data,
									}

								]
							};

					// create chart options
					var chart_options = {
						legend: {
								labels: {
										fontColor: "white",
										fontSize: 15
								}
						},
						maintainAspectRatio: false,
						chartArea: {
											backgroundColor: 'black'
										},
						scales: {
											yAxes: [{
													gridLines: {
															color: ['white', 'black', 'black', 'black', 'black', 'black', 'black', 'black', 'black', 'black', 'black']
													},
													ticks: {
															beginAtZero:true,
															fontColor: "white"
													},
													scaleLabel: {
															 display: true,
															 labelString: 'Load (MW)',
															 fontSize: 15,
															 fontColor: 'white',
															 fontStyle: 'bold',
														},
											}],
											xAxes: [{
													gridLines: {
															color: ['white', 'black', 'black', 'black', 'black', 'black', 'black', 'black', 'black', 'black', 'black']
													},
													ticks: {
															beginAtZero:false,
															fontColor: "white"
													},
													scaleLabel: {
															 display: true,
															 labelString: 'Timestamp',
															 fontSize: 15,
															 fontColor: 'white',
															 fontStyle: 'bold',
														},
											}]
										},
					};

					// generate chart
					var hourly_chart = new Chart(hourly_ctx, {
						type: 'bar',
						data: chart_data,
						options: chart_options
					});

				}else{
					alert("For this filter load data not found ...");
				}
		}

		// on change of graph filter options
		$("#load_data_balancing_authority, #load_data_from_date, #load_data_to_date").change(function(e) {
			// get the required details
			let ba_name = $('#load_data_balancing_authority').find(":selected").val();
			let from_date = $("#load_data_from_date").val();
			let to_date = $("#load_data_to_date").val();

			// convert this data into the object for passing to the server
			let request_obj = [{"ba_name" : ba_name, "from_date" : from_date, "to_date" : to_date}];

			// call to the ajax
			$.ajax({
						type: "POST",
						url: "get_ba_wise_avg_load_data_for_date_range",
						data: JSON.stringify(request_obj),
						contentType: "application/json; charset=utf-8",
						dataType: "json",
						success: function(response) {
						 if(response['status']){
								// call to the common method
								avg_load_chart_draw(response);
						 }else{
							alert(response['message']);
						 }
						}
				});
		});


		// on change of ba change the houry graph
		$("#load_data_balancing_authority").change(function(e) {
			// get the required details
			let ba_name = $('#load_data_balancing_authority').find(":selected").val();

			// convert this data into the object for passing to the server
			let request_obj = [{"ba_name" : ba_name}];

			// call to the ajax
			$.ajax({
						type: "POST",
						url: "get_ba_wise_hourly_load_data",
						data: JSON.stringify(request_obj),
						contentType: "application/json; charset=utf-8",
						dataType: "json",
						success: function(response) {
						 if(response['status']){
								// call to the common method
								hourly_load_chart_draw(response);
						 }else{
							alert(response['message']);
						 }
						}
				});
		});


		});

	 </script>

	</body>
</html>