<!DOCTYPE html>
<html lang="en">
<head>
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
				
				<!-- SEO Meta Tags -->
				<meta name="description" content="ForeQast - Built to simulate and forecast power markets">
				<meta name="author" content="Inovatik">

				<!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

				<!-- Website Title -->
				<title>ForeQast - Sign Up</title>
				
				<!-- Styles -->
				<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
				<link href="static/landing/css/bootstrap.css" rel="stylesheet">
				<link href="static/landing/css/fontawesome-all.css" rel="stylesheet">
				<link href="static/landing/css/swiper.css" rel="stylesheet">
	<link href="static/landing/css/magnific-popup.css" rel="stylesheet">
				<link href="static/landing/css/styles.css" rel="stylesheet">
	
	<!-- Favicon  -->
				<link rel="icon" href="static/landing/images/favicon.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">
				
		<!-- include header -->
		{% include 'landing/header.html' %}

				<!-- Header -->
				<header id="header" class="ex-2-header" style="min-height: 85vh !important;">
								<div class="container">
												<div class="row">
																<div class="col-lg-12">
																				<!-- <img class="img-fluid" src="static/landing/images/logo.png" alt="alternative"> -->
																				<div class="form-container">
																								<h4>Create an Account</h4>
																								<form id="logInForm mt-2 "class="text-left" data-toggle="validator" data-focus="false" method="POST" action="foreqast_sign_up">
																												<div class="form-group">
																																<label class="exampleInputEmail1" for="user_name">Your Name</label>
																																<div class="input-group">
																																		<div class="input-group-prepend">
																																				<span class="input-group-text" id="inputGroupPrepend">
																																								<i class="fas fa-user"></i>
																																				</span>
																																		</div>
																																	<input type="text" class="form-control" id="user_name" name="user_name" required placeholder="Enter Your Name">
																																</div>
																																<div class="help-block with-errors"></div>
																												</div>

																												<div class="form-group">
																																<label class="exampleInputEmail1" for="user_email">Your Email</label>
																																<div class="input-group">
																																		<div class="input-group-prepend">
																																				<span class="input-group-text" id="inputGroupPrepend">
																																								<i class="fas fa-at"></i>
																																				</span>
																																		</div>
																																		<input type="email" class="form-control" id="user_email" name="user_email" required placeholder="Enter Your Email">
																																</div>
																														
																																<div class="help-block with-errors"></div>
																												</div>
																											
																												<div class="form-group">
																																<label class="exampleInputEmail1 " for="user_password">Password</label>
																																<div  class="input-group">
																																		<div class="input-group-prepend">
																																				<span class="input-group-text" id="inputGroupPrepend">
																																								<i class="fas fa-lock"></i>
																																				</span>
																																		</div>
																																		<input type="password" class="form-control" id="user_password" aria-describedby="inputGroupPrepend" required name="user_password" placeholder="Enter Your Password">
																																</div>
																																<div class="help-block with-errors"></div>
																												</div>

																												<div class="form-group checkbox mt-3">
																																<input type="checkbox" id="sterms" value="Agreed-to-Terms" required>
																																I agree with ForeQast's <a href="{{ url_for('foreqast_privacy_policy') }}" class="btn-link"style="color:#4c3ee0;"> Privacy Policy </a> and <a href="{{ url_for('foreqast_terms_and_conditions') }}" class="btn-link"style="color:#4c3ee0;">Terms Conditions</a>
																																<div class="help-block with-errors"></div>
																												</div>
																																				
																												<div class="form-group mt-2">
																																<button type="submit" class="form-control-submit-button">SIGN UP</button>
																												</div>

																												<!-- <div class="form-message">
																																<div id="lmsgSubmit" class="h3 text-center hidden"></div>
																												</div> -->
																												
																												<!-- <div class="form-group d-none">
																														<div>Already have an account?
																															<a href="{{ url_for('foreqast_login') }}"class="btn-link" style="color: #4c3ee0;">Log in</a>
																														</div>
																												</div>  -->
																								</form>
																				</div> <!-- end of form container -->
																</div><!-- end of col -->
												</div> <!-- end of row -->
								</div> <!-- end of container -->
				</header> <!-- end of ex-header -->
				<!-- end of header -->

				<!-- Scripts -->
				<script src="static/landing/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
				<script src="static/landing/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
				<script src="static/landing/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
				<script src="static/landing/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
				<script src="static/landing/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
				<script src="static/landing/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
				<script src="static/landing/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
				<script src="static/landing/js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>